/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@font-face {
  font-family: Poppins;
  font-weight: 400;
  src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins;
  font-weight: 500;
  src: url("/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins;
  font-weight: 600;
  src: url("/fonts/Poppins-SemiBold.ttf");
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar {
  background-color: #203447 !important;
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .card-columns {
      column-count: 2;
  }
}

@media (min-width: 768px) {
  .card-columns {
      column-count: 3;
  }
}

@media (min-width: 992px) {
  .card-columns {
      column-count: 3;
  }
}

@media (min-width: 1200px) {
  .card-columns {
      column-count: 3;
  }
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: Poppins;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
